<section class="main-content">
  <div class="container-fluid">
  
    <div class="main-block">
      
      <div class="wt-block">
        <h3>Are you sure want to cancel your repair?</h3>
        <p>Please review these details and confirm below</p>

          
      <div class="form-group">
          <aside>
          <!-- Aside Outer Starts -->
          <div class="aside-outer">
            

            <div class="description-outer">
              <!-- Mobile Description starts -->
              <div class="mobile-description">
                <h5>Samsung Galaxy S8+</h5>
                <ul class="info-list">
                  <li>Broken Screen</li>
                  <li>Broken Screen</li>
                </ul>
              </div>
              <!-- Mobile Description Ends -->

              
            </div><!-- Description Outer Ends -->
            

          </div>
          <!-- Aside Outer Ends -->
        </aside>
      </div>
      <div class="form-group">
        <a (click)="refund()" class="btn primary-btn">Yes</a>
        <a  routerLink="/{{theme}}/thank-you" class="btn dark-btn">No</a>
      </div><!-- Form Group Ends -->
        
  </div><!-- Wt Block Ends -->

      

    </div><!-- Main Block Ends -->

    
  </div><!-- Container Ends -->
</section><!-- Section Ends -->