<section class="main-content">
  <div class="container-fluid">
  <div class="main-block">
      <div class="wt-block">
       <h3>Your technician is on the way ! </h3>
        <p>Track live below</p>
        <div class="map">
          <agm-map [latitude]="41.79626" [longitude]="-88.39063">
            <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
          </agm-map>
        </div><!-- Map Ends Here -->
       </div><!-- Wt Block Ends -->
</div><!-- Main Block Ends -->
</div><!-- Container Ends -->
</section><!-- Section Ends -->